@import play.api.Configuration

@import frontend.JsConfig
@import misc.URL

@()(implicit req: RequestHeader, config: Configuration, flash: Flash)

<script>
    var NC_CONFIG = @tags.json(JsConfig());
</script>

@helper.javascriptRouter("NC_ROUTES")(
    routes.javascript.IndexController.becomeAHost,

    controllers.account.routes.javascript.PremiumController.upgrade,

    routes.javascript.StudiosController.index,
    routes.javascript.StudiosController.search,
    routes.javascript.StudiosController.show,

    _root_.controllers.studios.routes.javascript.BookingController.show,
    _root_.controllers.studios.routes.javascript.BookingController.submit,

    routes.javascript.PictureController.upload,

    routes.javascript.PictureController.view,
    routes.javascript.PictureController.cover,
    routes.javascript.PictureController.max,

    routes.javascript.Assets.versioned,
)

<script src="@URL.fromCDN(routes.Assets.versioned("javascripts/vendor/jquery.js"))">
</script>
<script src="@URL.fromCDN(routes.Assets.versioned("javascripts/vendor/what-input.js"))">
</script>
<script src="@URL.fromCDN(routes.Assets.versioned("javascripts/vendor/foundation.min.js"))">
</script>

<script src="@URL.fromCDN(routes.Assets.versioned("javascripts/bundle.js"))"></script>

<script>$(document).foundation();</script>