@import play.api.Configuration
@import play.api.libs.json.JsObject

@import frontend.JsConfig
@import misc.URL
@import models.FacebookEvent

@(
    javascript: Html = Html(""),
    facebookEvent: Option[FacebookEvent] = None)(
    implicit req: RequestHeader, config: Configuration, flash: Flash)

<script>
    var NC_CONFIG = @tags.json(JsConfig());
</script>

@helper.javascriptRouter("NC_ROUTES")(
    routes.javascript.IndexController.becomeAHost,

    controllers.account.routes.javascript.PlansController.index,

    routes.javascript.StudiosController.index,
    routes.javascript.StudiosController.search,
    routes.javascript.StudiosController.show,

    _root_.controllers.studios.routes.javascript.BookingController.show,
    _root_.controllers.studios.routes.javascript.BookingController.submit,

    routes.javascript.PictureController.upload,

    routes.javascript.PictureController.view,
    routes.javascript.PictureController.cover,
    routes.javascript.PictureController.max,

    routes.javascript.Assets.versioned,
)

<script src="@URL.fromCDN(routes.Assets.versioned("javascripts/vendor/jquery.js"))">
</script>
<script src="@URL.fromCDN(routes.Assets.versioned("javascripts/vendor/what-input.js"))">
</script>
<script src="@URL.fromCDN(routes.Assets.versioned("javascripts/vendor/foundation.min.js"))">
</script>

<script>$(document).foundation();</script>

@javascript

<script src="@URL.fromCDN(routes.Assets.versioned("javascripts/bundle.js"))"></script>

@for(pixelID <- config.getOptional[String]("facebook.pixelID")) {
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '@pixelID');
        fbq('track', 'PageView')

        @for(event <- facebookEvent) { event: FacebookEvent =>
            @if(event.properties.isEmpty) {
                fbq('track', event.name);
            } else {
                fbq('track', event.name, @tags.json(JsObject(event.properties.map(_.asJson))));
            }
        }
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=@pixelID&ev=PageView&noscript=1"
    /></noscript>
}