<table class="plan-comparison-table unstriped">
    <thead>
        <tr>
            <th width="50%">
                <h4 class="text-sans-serif"><strong>Free</strong></h4>
                <h5 class="text-sans-serif">
                    <small>
                        Recommended for independently-owned studios that are looking for additional
                        exposure.
                    </small>
                </h5>

                <div class="text-center">
                    <a
                        href="@controllers.account.studios.routes.IndexController.create"
                        class="button primary">Become a host</a>
                </div>
            </th>
            <th width="50%">
                <div class="plan-badge">Best value for businesses</div>

                <h4 class="text-sans-serif"><strong>Premium</strong></h4>
                <h5 class="text-sans-serif">
                    <small>
                        Intended for pros and businesses that want additional productivity oriented
                        features.
                    </small>
                </h5>

                <div class="text-center">
                    <a href="#" class="button primary">
                        Request access
                        <span class="show-for-medium">now</span>
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="features">
            <td>
                <ul>
                    <li>Expose your music space to 1,000s of musicians</li>
                    <li>Personalized studio page</li>
                    <li>Real-time room availabilities</li>
                    <li>Booking management and calendar</li>
                    <li>Online bookings, inlcuding on mobile</li>
                    <li>Secure online transaction (8% fee, monthly payouts)</li>
                </ul>
            </td>

            <td>
                <strong>Everything in Free, plus:</strong>

                <ul>
                    <li>Unlimited number of rooms</li>
                    <li>Reduced online transaction fee (5%)</li>
                    <li>Daily payouts for online payments</li>
                    <li>Synchronization with external calendar apps</li>
                    <li>Integrate within your website</li>
                    <li>Recurring and manual bookings</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<p class="help-text text-center">
    <i class="fi-heart"></i>&nbsp;
    Are you a nonprofit organization? <a href="#">Contact us</a> to secure a preferential rate on
    our <i>Premium</i> plan.
</p>
