<table class="plan-comparison-table unstriped">
    <thead>
        <tr>
            <th width="50%">
                <h4 class="text-sans-serif"><strong>Free</strong></h4>
                <h5 class="text-sans-serif">
                    <small>
                        Recommended for independently-owned studios that are looking for additional
                        exposure.
                    </small>
                </h5>

                <div class="text-center">
                    <a
                        href="@controllers.account.studios.routes.IndexController.create"
                        class="button primary">Become a host</a>
                </div>
            </th>
            <th width="50%">
                <div class="plan-badge">Designed for professionals</div>

                <h4 class="text-sans-serif"><strong>Premium</strong></h4>
                <h5 class="text-sans-serif">
                    <small>
                        Intended for pros and businesses that want additional productivity oriented
                        features.
                    </small>
                </h5>

                <div class="text-center">
                    <a
                        href="@controllers.account.routes.PremiumController.upgrade"
                        class="button primary">
                        Request access
                        <span class="show-for-medium">now</span>
                    </a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="features">
            <td>
                <strong>List your studio on NoisyCamp:</strong>

                <ul>
                    <li>Personalized page for a single room studio</li>
                    <li>Increase your studio revenue</li>
                    <li>Reach 1,000s of musicians</li>
                </ul>
                
                <strong>Booking management:</strong>
        
                <ul>
                    <li>Online bookings, including on mobile</li>
                    <li>Real-time room availabilities</li>
                    <li>Booking calendar</li>
                    <li>
                        Secure online transactions&nbsp;
                        (@{(Plan.Free.transactionRate * 100).toIntExact}% fee, monthly payouts)
                    </li>
                </ul>
            </td>

            <td>
                <strong>Everything in Free, plus:</strong>

                <ul>
                    <li>Unlimited number of studio rooms</li>
                    <li>
                        Lower online transaction fee
                        (@{(Plan.Premium.transactionRate * 100).toIntExact}%)
                    </li>
                    <li>Daily payouts for online payments</li>
                </ul>

                <em>Coming soon:</em>

                <ul>
                    <li>Charge extra fees for instruments and/or services</li>
                    <li>Synchronization with external calendar apps</li>
                    <li>Recurring and manual bookings</li>
                    <li>Integrate within your website</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<p class="text-center">
    <i class="fi-heart"></i>&nbsp;
    Are you a nonprofit organization?
    <a href="@controllers.account.routes.PremiumController.upgrade">Reach us now</a> and obtain a
    preferential rate on our <i>Premium</i> plan.
</p>
