@import play.api.Configuration

@import misc.URL

@()(implicit req: RequestHeader, config: Configuration, flash: Flash)

@preloadedStylesheet(href: String) = {
    <link rel="preload" as="style" href="@href">
    <link rel="stylesheet" href="@href">
}

@for(cdnHost <- config.getOptional[String]("noisycamp.cdnHost")) {
    <link rel="preconnect" href="@cdnHost">
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link
    rel="shortcut icon" type="image/png"
    href="@URL.fromCDN(routes.Assets.versioned("images/favicon-32.png"))">

<!-- Manifest not served from CDN as it uses paths relative to the main domain. -->
<link rel="manifest" href="@routes.Assets.versioned("manifest.json")">

@preloadedStylesheet(URL.fromCDN(routes.Assets.versioned("stylesheets/vendor/foundation.min.css")))
@preloadedStylesheet(URL.fromCDN(routes.Assets.versioned("fonts/foundation-icons.css")))
@preloadedStylesheet(URL.fromCDN(routes.Assets.versioned("stylesheets/main.css")))
@preloadedStylesheet("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap")

@for(siteID <- config.getOptional[String]("panelbear.siteID")) {
    <!-- Panelbear Analytics -->
    <script async src="https://cdn.panelbear.com/analytics.js?site=@siteID"></script>
    <script>
        window.panelbear = window.panelbear || function(){ window.panelbearQ = window.panelbearQ || []; panelbearQ.push(arguments); };
        panelbear('config', { site: '@siteID', honorDNT: true });
    </script>
}