@import play.api.Configuration

@import misc.URL

@()(implicit req: RequestHeader, config: Configuration, flash: Flash)

<link
    rel="shortcut icon" type="image/png"
    href="@URL.fromCDN(routes.Assets.versioned("images/favicon-32.png"))">

<!-- Manifest not served from CDN as it uses paths relative to the main domain. -->
<link rel="manifest" href="@routes.Assets.versioned("manifest.json")">

<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:ital,wght@@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap">

<link
    rel="stylesheet"
    href="@URL.fromCDN(routes.Assets.versioned("stylesheets/vendor/foundation.min.css"))">
<link
    rel="stylesheet"
    href="@URL.fromCDN(routes.Assets.versioned("fonts/foundation-icons.css"))">

<link
    rel="stylesheet"
    href="@URL.fromCDN(routes.Assets.versioned("stylesheets/main.css"))">

@for(siteID <- config.getOptional[String]("panelbear.siteID")) {
    <!-- Panelbear Analytics -->
    <script async src="https://cdn.panelbear.com/analytics.js?site=@siteID"></script>
    <script>
        window.panelbear = window.panelbear || function(){ window.panelbearQ = window.panelbearQ || []; panelbearQ.push(arguments); };
        panelbear('config', { site: '@siteID', honorDNT: true });
    </script>
}